::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--orange);
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
}

.border-none {
  border: none;
}
.pointer {
  cursor: pointer;
}
img {
  pointer-events: none;
}
